body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

#bingokaart {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Gebruik volledige breedte */
    grid-gap: 10px;
    margin: 20px;
    max-width: 100vw; /* Gebruik de volledige breedte van het scherm */
}

.bingovakje {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: white;
}

.bingovakje.gehaald {
    background-color: lightgreen;
    color: white;
}

#controls {
    text-align: center;
    margin-top: 20px;
}
